<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>fbird.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedbackController</servlet-name>
        <servlet-class>fbird.controller.ViewFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackController</servlet-name>
        <servlet-class>fbird.controller.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>fbird.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTypeOfBirdController</servlet-name>
        <servlet-class>fbird.controller.DeleteTypeOfBirdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTypeOfBirdController</servlet-name>
        <servlet-class>fbird.controller.SearchTypeOfBirdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTypeOfBirdController</servlet-name>
        <servlet-class>fbird.controller.CreateTypeOfBirdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportedShopController</servlet-name>
        <servlet-class>fbird.controller.ViewReportedShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportedProductController</servlet-name>
        <servlet-class>fbird.controller.ViewReportedProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportProductController</servlet-name>
        <servlet-class>fbird.controller.ReportProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportShopController</servlet-name>
        <servlet-class>fbird.controller.ReportShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>fbird.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>fbird.controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountController</servlet-name>
        <servlet-class>fbird.controller.ViewAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerAccountController</servlet-name>
        <servlet-class>fbird.controller.ViewCustomerAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShopAccountController</servlet-name>
        <servlet-class>fbird.controller.ViewShopAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountController</servlet-name>
        <servlet-class>fbird.controller.SearchAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateShopController</servlet-name>
        <servlet-class>fbird.controller.CreateShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisableReportedShopController</servlet-name>
        <servlet-class>fbird.controller.DisableReportedShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReportedShopController</servlet-name>
        <servlet-class>fbird.controller.DeleteReportedShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductHomePageController</servlet-name>
        <servlet-class>fbird.controller.ViewProductHomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductDetailController</servlet-name>
        <servlet-class>fbird.controller.ViewProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPriceController</servlet-name>
        <servlet-class>fbird.controller.ViewPriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserProfileController</servlet-name>
        <servlet-class>fbird.controller.AddUserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>fbird.controller.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRecipeController</servlet-name>
        <servlet-class>ViewRecipeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRecipeDetailController</servlet-name>
        <servlet-class>fbird.controller.ViewRecipeDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedbackController</servlet-name>
        <url-pattern>/ViewFeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackController</servlet-name>
        <url-pattern>/FeedBackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTypeOfBirdController</servlet-name>
        <url-pattern>/DeleteTypeOfBirdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTypeOfBirdController</servlet-name>
        <url-pattern>/SearchTypeOfBirdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTypeOfBirdController</servlet-name>
        <url-pattern>/CreateTypeOfBirdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportedShopController</servlet-name>
        <url-pattern>/ViewReportedShopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportedProductController</servlet-name>
        <url-pattern>/ViewReportedProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportProductController</servlet-name>
        <url-pattern>/ReportProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportShopController</servlet-name>
        <url-pattern>/ReportShopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountController</servlet-name>
        <url-pattern>/ViewAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerAccountController</servlet-name>
        <url-pattern>/ViewCustomerAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShopAccountController</servlet-name>
        <url-pattern>/ViewShopAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountController</servlet-name>
        <url-pattern>/SearchAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateShopController</servlet-name>
        <url-pattern>/CreateShopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisableReportedShopController</servlet-name>
        <url-pattern>/DisableReportedShopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductHomePageController</servlet-name>
        <url-pattern>/ViewProductHomePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductDetailController</servlet-name>
        <url-pattern>/ViewProductDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPriceController</servlet-name>
        <url-pattern>/ViewPriceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserProfileController</servlet-name>
        <url-pattern>/AddUserProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReportedShopController</servlet-name>
        <url-pattern>/DeleteReportedShopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRecipeController</servlet-name>
        <url-pattern>/ViewRecipeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRecipeDetailController</servlet-name>
        <url-pattern>/ViewRecipeDetailController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
